# 課題0703

そのまま課題ファイルで編集しないでください。課題ファイルを複製してから課題を回答してください。

## 課題1

pandasでDataフォルダの```example.json```を読み込む。

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
df = pd.read_json("Data/example.json", lines=True)
print(df.head())

     Name  Price  Model  Power
0   Honda  10000   2005   1300
1  Toyota  12000   2010   1600
2    Audi  25000   2017   1800
3    Ford  28000   2009   1200

## 課題2

pandasでDataフォルダの```state-abbrevs.csv```、```state-areas.csv```、```state-population.csv```を読み込む。

これらのデータを使って、**2010年**アメリカの各州の人口密度を計算しよう。

In [90]:
state_abbrevs = pd.read_csv("Data/state-abbrevs.csv")
state_areas = pd.read_csv("Data/state-areas.csv")
state_population = pd.read_csv("Data/state-population.csv")
dit = {'state': 'Puerto Rico', 'abbreviation': 'PR'}
s = pd.Series(dit)
# add a row of "Peurto Rico"
s.name = (51)
state_abbrevs = state_abbrevs._append(s)
pop1 = state_population[(state_population.ages=="total")&(state_population.year==2010)]
merged = pd.merge(state_abbrevs, state_areas, on = 'state', how = 'outer')
pop1 = pop1.rename(columns={'state/region':'abbreviation'})
pop1 = pop1.reset_index(drop=True)
pop1.drop(pop1[pop1['abbreviation'] == 'USA'].index, inplace=True)
merged1 = pd.merge(merged, pop1, on = 'abbreviation', how = 'outer')
merged1['mean_population'] = merged1['population']/merged1['area (sq. mi)']
print(merged1)

                   state abbreviation  area (sq. mi)   ages  year  population  \
0                 Alaska           AK         656425  total  2010    713868.0
1                Alabama           AL          52423  total  2010   4785570.0
2               Arkansas           AR          53182  total  2010   2922280.0
3                Arizona           AZ         114006  total  2010   6408790.0
4             California           CA         163707  total  2010  37333601.0
5               Colorado           CO         104100  total  2010   5048196.0
6            Connecticut           CT           5544  total  2010   3579210.0
7   District of Columbia           DC             68  total  2010    605125.0
8               Delaware           DE           1954  total  2010    899711.0
9                Florida           FL          65758  total  2010  18846054.0
10               Georgia           GA          59441  total  2010   9713248.0
11                Hawaii           HI          10932  total  2010   1363731.0
12                  Iowa           IA          56276  total  2010   3050314.0
13                 Idaho           ID          83574  total  2010   1570718.0
14              Illinois           IL          57918  total  2010  12839695.0
15               Indiana           IN          36420  total  2010   6489965.0
16                Kansas           KS          82282  total  2010   2858910.0
17              Kentucky           KY          40411  total  2010   4347698.0
18             Louisiana           LA          51843  total  2010   4545392.0
19         Massachusetts           MA          10555  total  2010   6563263.0
20              Maryland           MD          12407  total  2010   5787193.0
21                 Maine           ME          35387  total  2010   1327366.0
22              Michigan           MI          96810  total  2010   9876149.0
23             Minnesota           MN          86943  total  2010   5310337.0
24              Missouri           MO          69709  total  2010   5996063.0
25           Mississippi           MS          48434  total  2010   2970047.0
26               Montana           MT         147046  total  2010    990527.0
27        North Carolina           NC          53821  total  2010   9559533.0
28          North Dakota           ND          70704  total  2010    674344.0
29              Nebraska           NE          77358  total  2010   1829838.0
30         New Hampshire           NH           9351  total  2010   1316614.0
31            New Jersey           NJ           8722  total  2010   8802707.0
32            New Mexico           NM         121593  total  2010   2064982.0
33                Nevada           NV         110567  total  2010   2703230.0
34              New York           NY          54475  total  2010  19398228.0
35                  Ohio           OH          44828  total  2010  11545435.0
36              Oklahoma           OK          69903  total  2010   3759263.0
37                Oregon           OR          98386  total  2010   3837208.0
38          Pennsylvania           PA          46058  total  2010  12710472.0
39           Puerto Rico           PR           3515  total  2010   3721208.0
40          Rhode Island           RI           1545  total  2010   1052669.0
41        South Carolina           SC          32007  total  2010   4636361.0
42          South Dakota           SD          77121  total  2010    816211.0
43             Tennessee           TN          42146  total  2010   6356683.0
44                 Texas           TX         268601  total  2010  25245178.0
45                  Utah           UT          84904  total  2010   2774424.0
46              Virginia           VA          42769  total  2010   8024417.0
47               Vermont           VT           9615  total  2010    625793.0
48            Washington           WA          71303  total  2010   6742256.0
49             Wisconsin           WI          65503  total  2010   5689060.0
50         West Virginia           WV          24231  total  2010   1854146.0
51               Wyoming           WY          97818  total  2010    564222.0

    mean_population
0          1.087509
1         91.287603
2         54.948667
3         56.214497
4        228.051342
5         48.493718
6        645.600649
7       8898.897059
8        460.445752
9        286.597129
10       163.409902
11       124.746707
12        54.202751
13        18.794338
14       221.687472
15       178.197831
16        34.745266
17       107.586994
18        87.676099
19       621.815538
20       466.445797
21        37.509990
22       102.015794
23        61.078373
24        86.015622
25        61.321530
26         6.736171
27       177.617157
28         9.537565
29        23.654153
30       140.799273
31      1009.253268
32        16.982737
33        24.448796
34       356.094135
35       257.549634
36        53.778278
37        39.001565
38       275.966651
39      1058.665149
40       681.339159
41       144.854594
42        10.583512
43       150.825298
44        93.987655
45        32.677188
46       187.622273
47        65.085075
48        94.557817
49        86.851900
50        76.519582
51         5.768079

## 課題3

```state/region```、```ages```と```years```でデータフレームをグループして、各グループで$\frac{population}{area (sq. mi)}$の形で人口密度を計算してください。

In [100]:
state_population = state_population.rename(columns={'state/region':'abbreviation'})
subgroups = pd.merge(merged, state_population, on = 'abbreviation', how = 'outer')
subgroups.groupby(['state', 'ages', 'year'])
subgroups['density'] = subgroups['population']/subgroups['area (sq. mi)']
subgroups.drop(subgroups[subgroups['abbreviation'] == 'USA'].index, inplace=True)
print(subgroups)

        state abbreviation  area (sq. mi)     ages  year  population   density
0      Alaska           AK       656425.0    total  1990    553290.0  0.842884
1      Alaska           AK       656425.0  under18  1990    177502.0  0.270407
2      Alaska           AK       656425.0    total  1992    588736.0  0.896882
3      Alaska           AK       656425.0  under18  1991    182180.0  0.277534
4      Alaska           AK       656425.0  under18  1992    184878.0  0.281644
...       ...          ...            ...      ...   ...         ...       ...
2539  Wyoming           WY        97818.0  under18  1993    137458.0  1.405242
2540  Wyoming           WY        97818.0    total  1991    459260.0  4.695046
2541  Wyoming           WY        97818.0  under18  1991    136720.0  1.397698
2542  Wyoming           WY        97818.0  under18  1990    136078.0  1.391135
2543  Wyoming           WY        97818.0    total  1990    453690.0  4.638103

[2496 rows x 7 columns]