課題１

In [3]:
import pandas as pd

In [5]:
file_path = '/example.json'
df_example = pd.read_json(file_path, lines=True)
print(df_example)

     Name  Price  Model  Power
0   Honda  10000   2005   1300
1  Toyota  12000   2010   1600
2    Audi  25000   2017   1800
3    Ford  28000   2009   1200

課題２

In [6]:
abbrevs_path = '/state-abbrevs.csv'
areas_path = '/state-areas.csv'
population_path = '/state-population.csv'

df_abbrevs = pd.read_csv(abbrevs_path)
df_areas = pd.read_csv(areas_path)
df_population = pd.read_csv(population_path)

print(df_abbrevs.head())
print(df_areas.head())
print(df_population.head())

        state abbreviation
0     Alabama           AL
1      Alaska           AK
2     Arizona           AZ
3    Arkansas           AR
4  California           CA
        state  area (sq. mi)
0     Alabama          52423
1      Alaska         656425
2     Arizona         114006
3    Arkansas          53182
4  California         163707
  state/region     ages  year  population
0           AL  under18  2012   1117489.0
1           AL    total  2012   4817528.0
2           AL  under18  2010   1130966.0
3           AL    total  2010   4785570.0
4           AL  under18  2011   1125763.0

In [7]:
df_population_2010 = df_population[(df_population['year'] == 2010) & (df_population['ages'] == 'total')]

df_merged = pd.merge(df_population_2010, df_abbrevs, how='left', left_on='state/region', right_on='abbreviation')
df_merged = pd.merge(df_merged, df_areas, how='left', on='state')

df_merged = df_merged.dropna()

df_merged['density'] = df_merged['population'] / df_merged['area (sq. mi)']

print(df_merged[['state', 'population', 'area (sq. mi)', 'density']])

                   state  population  area (sq. mi)      density
0                Alabama   4785570.0        52423.0    91.287603
1                 Alaska    713868.0       656425.0     1.087509
2                Arizona   6408790.0       114006.0    56.214497
3               Arkansas   2922280.0        53182.0    54.948667
4             California  37333601.0       163707.0   228.051342
5               Colorado   5048196.0       104100.0    48.493718
6            Connecticut   3579210.0         5544.0   645.600649
7               Delaware    899711.0         1954.0   460.445752
8   District of Columbia    605125.0           68.0  8898.897059
9                Florida  18846054.0        65758.0   286.597129
10               Georgia   9713248.0        59441.0   163.409902
11                Hawaii   1363731.0        10932.0   124.746707
12                 Idaho   1570718.0        83574.0    18.794338
13              Illinois  12839695.0        57918.0   221.687472
14               Indiana   6489965.0        36420.0   178.197831
15                  Iowa   3050314.0        56276.0    54.202751
16                Kansas   2858910.0        82282.0    34.745266
17              Kentucky   4347698.0        40411.0   107.586994
18             Louisiana   4545392.0        51843.0    87.676099
19                 Maine   1327366.0        35387.0    37.509990
20              Maryland   5787193.0        12407.0   466.445797
21         Massachusetts   6563263.0        10555.0   621.815538
22              Michigan   9876149.0        96810.0   102.015794
23             Minnesota   5310337.0        86943.0    61.078373
24           Mississippi   2970047.0        48434.0    61.321530
25              Missouri   5996063.0        69709.0    86.015622
26               Montana    990527.0       147046.0     6.736171
27              Nebraska   1829838.0        77358.0    23.654153
28                Nevada   2703230.0       110567.0    24.448796
29         New Hampshire   1316614.0         9351.0   140.799273
30            New Jersey   8802707.0         8722.0  1009.253268
31            New Mexico   2064982.0       121593.0    16.982737
32              New York  19398228.0        54475.0   356.094135
33        North Carolina   9559533.0        53821.0   177.617157
34          North Dakota    674344.0        70704.0     9.537565
35                  Ohio  11545435.0        44828.0   257.549634
36              Oklahoma   3759263.0        69903.0    53.778278
37                Oregon   3837208.0        98386.0    39.001565
38          Pennsylvania  12710472.0        46058.0   275.966651
39          Rhode Island   1052669.0         1545.0   681.339159
40        South Carolina   4636361.0        32007.0   144.854594
41          South Dakota    816211.0        77121.0    10.583512
42             Tennessee   6356683.0        42146.0   150.825298
43                 Texas  25245178.0       268601.0    93.987655
44                  Utah   2774424.0        84904.0    32.677188
45               Vermont    625793.0         9615.0    65.085075
46              Virginia   8024417.0        42769.0   187.622273
47            Washington   6742256.0        71303.0    94.557817
48         West Virginia   1854146.0        24231.0    76.519582
49             Wisconsin   5689060.0        65503.0    86.851900
50               Wyoming    564222.0        97818.0     5.768079

課題３

In [8]:
df_grouped = df_population.groupby(['state/region', 'ages', 'year']).sum().reset_index()
df_grouped = pd.merge(df_grouped, df_abbrevs, how='left', left_on='state/region', right_on='abbreviation')
df_grouped = pd.merge(df_grouped, df_areas, how='left', on='state')

df_grouped = df_grouped.dropna()

df_grouped['density'] = df_grouped['population'] / df_grouped['area (sq. mi)']

print(df_grouped[['state', 'ages', 'year', 'population', 'area (sq. mi)', 'density']])

        state     ages  year  population  area (sq. mi)   density
0      Alaska    total  1990    553290.0       656425.0  0.842884
1      Alaska    total  1991    570193.0       656425.0  0.868634
2      Alaska    total  1992    588736.0       656425.0  0.896882
3      Alaska    total  1993    599434.0       656425.0  0.913180
4      Alaska    total  1994    603308.0       656425.0  0.919081
...       ...      ...   ...         ...            ...       ...
2539  Wyoming  under18  2009    134960.0        97818.0  1.379705
2540  Wyoming  under18  2010    135351.0        97818.0  1.383702
2541  Wyoming  under18  2011    135407.0        97818.0  1.384275
2542  Wyoming  under18  2012    136526.0        97818.0  1.395714
2543  Wyoming  under18  2013    137679.0        97818.0  1.407502

[2448 rows x 6 columns]