# 第三回の課題

課題ファイルを複製し、ファイル名を```assignment_{自分の名前}.ipynb```に変更してから課題を回答してください。

## 課題1

1から100までの偶数の和を計算してください。

In [38]:
total = 0
for i in range(2,101,2):
  total+=i
total

2550

## 課題2

被除数が100である場合、リストの値を除数とする割り算の結果を順番に計算するプログラムを実装してください。

- 計算結果をprintで表示してください
- 計算不可能の場合、ラーメッセージだけを表示してエラーが起きた回数をカウントし、計算を続けてください

In [17]:
import math
s = [1,0,10,-25,-2,50,200]
error_count = 0

In [18]:
for i in s:
  try:
    print(100/i)
  except:
    error_count+=1
    print("エラー",error_count)

100.0
エラー 1
10.0
-4.0
-50.0
2.0
0.5

## 課題3

区間[0,100000]の間に存在するarmstrong numberをリストに格納しなさい。
armstrong numberとは、ある$n$桁の正の整数が、その各桁の数をn乗した値の合計に等しい数のことです。

例えば、3桁の数字$153$はarmstrong numberである

$$
1^3 + 5^3 + 3^3 = 1 + 125 + 27 = 153
$$

3桁の数字1634はアームストロング数である

$$
1^4 + 6^4 + 3^4 + 4^4 = 1 + 1296 + 81 + 256 = 1634
$$

In [31]:
arm =[]
for num in range(0,100001):
   sum = 0
   n = len(str(num))

   temp = num
   while temp > 0:
       digit = temp % 10
       sum += digit ** n
       temp //= 10

   if num == sum:
    arm.append(num)
    print(arm)

[0]
[0, 1]
[0, 1, 2]
[0, 1, 2, 3]
[0, 1, 2, 3, 4]
[0, 1, 2, 3, 4, 5]
[0, 1, 2, 3, 4, 5, 6]
[0, 1, 2, 3, 4, 5, 6, 7]
[0, 1, 2, 3, 4, 5, 6, 7, 8]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 153]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 153, 370]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 153, 370, 371]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 153, 370, 371, 407]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 153, 370, 371, 407, 1634]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 153, 370, 371, 407, 1634, 8208]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 153, 370, 371, 407, 1634, 8208, 9474]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 153, 370, 371, 407, 1634, 8208, 9474, 54748]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 153, 370, 371, 407, 1634, 8208, 9474, 54748, 92727]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 153, 370, 371, 407, 1634, 8208, 9474, 54748, 92727, 93084]